<h2>Show Gin</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @gin.name %>
  </li>

  <li>
    <strong>Brand:</strong>
    <%= @gin.brand %>
  </li>

  <li>
    <strong>ABV:</strong>
    <%= @gin.abv %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @gin.text %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @gin.status %>
  </li>

</ul>

<span><%= link "Edit", to: gin_path(@conn, :edit, @gin) %></span>
<span><%= link "Back", to: gin_path(@conn, :index) %></span>
